<html>
<head>
    <title>Comic Server</title>

    <style type="text/css">

        .EstiloCabecera {
            font-family: "Trebuchet MS";
            font-size: 18px;
            color: #ECECEC;
        }

        .EstiloItemLista {
            font-family: "Trebuchet MS";
            font-size: 14px;
            color: #990000;                
        }

        div.scroll {
            width: 280px;
            height: 430px;
            overflow: auto;
            border: 0px;
            overflow-y: hidden !important;
        }
    </style>

</head>


<body style="background-image: url('content/images/back-gray.jpg');overflow-y: hidden!important;">
    <table cellpadding="0" cellspacing="0" width="100%" align="center" style="overflow-y: hidden!important;">  
        <tr>
            <td height="50" width="100%" valign="top" style="background-color:black" align="center">
                <table cellpadding="0" cellspacing="0">
                    <tr><td class="EstiloCabecera" height="50" align="center">@Model.Title</td></tr>
                </table>
            </td>
        </tr>
        <td align="center" valign="top">
            <div class=scroll style="margin-top:6px!important;overflow-x: hidden!important;overflow-y: auto!important;max-width:270px">
                <table cellpadding="3" cellspacing="3">                    
                    <tr><td height="10"></td></tr>
                    <tr>
                    <tr class="Estilo3">
                        <td>
                            <img src="@Model.Base64String" alt="@Model.Title"
                                 width="192" style="margin-bottom:12px;margin:0 auto;display:block;" border="0">
                        </td>
                    </tr>
                    <tr>
                        <td class="EstiloItemLista" width="220px" align="center"><b>CREATION DATE:</b> @Model.CreationDateHtml</td>
                    </tr>
                    <tr>
                        <td class="EstiloItemLista" width="220px" align="center"><b>LAST UPDATE:</b> @Model.LastUpdateHtml</td>
                    </tr>
                    <tr>
                        <td class="EstiloItemLista" width="220px" align="center"><b>FILES:</b> @Model.NumberFiles</td>
                    </tr>
                    <tr>
                        <td class="EstiloItemLista" width="220px" align="center"><b>SIZE:</b> @Model.TotalSizeHtml</td>
                    </tr>
                    @Each.Model.FilesDetailed
                    <tr>
                        <td class="EstiloItemLista" width="120px" align="center">@Current.FileName</td>
                        @If.FileExist
                        <td width="48px" align="center">
                            <a href="@Current.Path">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE/SURBVGhD7ZhfDsFAEMZ7Dl5chAQJ4TYiEQmv4iSuIQ4gbsIbDyrhm6RNPNDd7sz+KSOZiHZn+vtmPmybZbzXEulPZix4CLxsFYD+6QQ4JlILqYU4/kGuWkgtpBbSrYT+E7O+BY3/GZ0zt9K0FZ+xWvghuY1jHQS9V0UL57cCAjaoQbVM1yuZjHp7WHFB5IhbRVxx7i4ggGpQraprEcsZ0TXSFwvGhQDu3ZZUPokc2cKX6wZFV6QgXOvQdPp14cv1w8giWPCxRYjAx7KTKHzoSXiBDyXCK7xvOwWB9zWJoPDSIqLAS9kpKjx3EknAu4pICr6unZKEt51E0vAmEY2A/2anRsG/T+KBDxTO+3nX+wCpvCkKTaSKaR3tgHbgTzqwhs5dorGymcEJi1yf4fjOO9oIOCQsYK8CIk/n9ybwAiRwgnp0FPWTAAAAAElFTkSuQmCC" width="32" height="32" style="vertical-align:central">
                            </a>
                        </td>
                        @EndIf
                    </tr>
                    @EndEach
                </table>                
            </div>
        </td>
        </tr>
    </table>
</body>
</html>

