<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Comic Server</title>

    <script type='text/javascript' src='content/scripts/jquery.min.js'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.blImagjtef').fadeTo('slow', 0.5);
            $('.blImagjtef').hover(function () {
                $(this).fadeTo('slow', 1.0);
            }, function () {
                $(this).fadeTo('slow', 0.5);
            });
        });
    </script>
    <script type="text/javascript" src="content/scripts/jquery-1.7.1.min.js"></script>
    <script type='text/javascript' src='content/scripts/jquery.fancybox.pack.js'></script>
    <link rel="stylesheet" type="text/css" href="content/scripts/jquery.fancybox.css" />
    <script type="text/javascript">

        $(document).ready(function () {
            $(".ejemplo_6").fancybox({
                'autoScale': false,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'width': 300,
                'height': 500,
                'type': 'iframe'
            });

            $(".ejemplo_5").fancybox({
                'autoScale': false,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'width': 740,
                'height': 520,
                'type': 'iframe'
            });

            // Get the input field
            var input = document.getElementById("mySearchInput");

            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    document.getElementById("mySearchButton").click();
                }
            });

        });

        function Search() {
            var inputstr = document.getElementById("mySearchInput").value;
            var url = window.location.origin;
            if (inputstr.length > 0)
                window.location = url + "/Search/" + inputstr;
            else
                window.location = url;
            
        }
        

    </script>
    <style type="text/css">

        .header {
            font-family: "Trebuchet MS";
            font-size: 2px;
            color: #000000;
        }

        .Estilo3 {
            font-family: "Trebuchet MS";
            font-size: 12px;
            color: #990000;
            max-width: 120px; /* add this */
            vertical-align: top;
            align-content: center;
        }
    </style>


    

</head>

<body style="background-image: url('content/images/back-gray.jpg');">

    <table class="table" cellspacing="0" cellpadding="0" align="center" style="border:none;width:100%;">
        <tbody>
            <tr>
                <td height="50" bgcolor="#000000">
                    <div class="section" id="header" name="Cabecera">
                        <div class="widget Header" data-version="2" id="Header1">
                            <div class="header-widget">
                                <div>
                                    <h1 style="color:white;font-size:34px;font-weight:lighter;margin-left:14px">
                                        Comic Server
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td height="50" bgcolor="#000000">
                    <div style="text-align:right;vertical-align:central;margin-right:12px;margin-bottom:12px">
                        <input id="mySearchInput" type="text" placeholder="Type here.." style="width: 50%;padding: 16px 20px;box-sizing: border-box;">
                        <button id="mySearchButton" onclick="Search()"
                                style="background-color:#4CAF50;border:none;margin-top:12px;color:white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;">
                            Search
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" cellpadding="0" cellspacing="0" align="center">
        <tbody>
            <tr><td colspan="15" height="10"></td></tr>
            @Each
            @If.Start
            <tr>
                @EndIf
                <td height="200px">
                    <table>
                        <tbody>
                            <tr class="Estilo3">
                                <a href="@Current.TitleHtml" class="ejemplo_6" title="@Current.Title">
                                    <img src="@Current.Base64String" alt="@Current.Title"
                                         width="120" height="182" border="0">
                                </a>
                            </tr>
                            <tr>
                                <td colspan="15" height="5"></td>
                            </tr>
                            <tr>
                                <td class="Estilo3" width="120" height="50" align="center">@Current.TitleShort</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td></td>
                @If.End
            </tr>
            @EndIf
            @EndEach
            <tr><td colspan="15" height="10"></td></tr>
        </tbody>
    </table>   
</body>
</html>